@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

body { background-color:#fafafa; width: 100%;min-width: 320px; margin: 0 auto; } 
.flex { display: flex; justify-content: space-between; } 
.btn-group { width:100%; height:35px; margin-top:15px; } 
.btn { display: block; width:100%; height: 100%; color: #fff; font-size: 14px; font-weight: 600; line-height: 35px; text-align: center; background: #e76b3f; border: none; }
.btn2 { display: block; width: 100%; height: 100%; color: #e76b3f; font-size: 14px; font-weight: 600; line-height: 33px; text-align: center; background: #fff; border: 1px solid #e76b3f; }
.btn2_delete { display: block; width: 100%; height: 100%; color: #666; font-size: 14px; font-weight: 600; line-height: 33px; text-align: center; background: #fff; border: 1px solid #666; }
.btn-edit { display: block; width:75px; height: 25px; color: #666; font-size: 12px; font-weight: 600; background: #fff; margin-top: 3px; border: 1px solid #ddd; } 
.btn-edit:focus { color: #e76b3f; border: 1px solid #e76b3f; } 
.btn-check_off { display: block; width: 25.5px; height: 25.5px; text-indent: -9999px; background: transparent; background-image: url(./../images/btn_check_off.png); background-size: 14.5px; background-repeat: no-repeat; background-position: 4px 6px; border: 1px solid #ccc; border-radius: 25.5px; } 
.on { display: block; width: 25.5px; height: 25.5px; text-indent: -9999px; background: transparent; background-image: url(./../images/btn_check_on.png); background-size: 14.5px; background-repeat: no-repeat; background-position: 4px 6px; border: 1px solid #e76b3f; border-radius: 25.5px; } 
.mt3 { margin-top: 3px; } 
.mt5 { margin-top: 5px; } 
.mt10 { margin-top: 10px; } 

/* header - top */
.top-container { position: fixed; width: 100%; height: 50px; background-color:#43474f; padding:15px 15px 0 15px; box-sizing: border-box; z-index: 1; } 
.top-container > .top { display:flex; justify-content: center; height: 20px; } 
.top-container > .top > .ham-btn > .menu-trigger,
.top-container > .top > .ham-btn > .menu-trigger > span { display: inline-block; position: absolute; transition: all .4s; box-sizing: border-box; } 
.top-container > .top > .ham-btn > .menu-trigger { left: 15px; width: 21.5px; height: 14.5px; vertical-align: middle; margin-top: 3px; } 
.top-container > .top > .ham-btn > .menu-trigger > span { left: 0; width: 100%; height: 3px; text-indent: -9999px; background-color: #fff; border-radius: 4px; } 
.top-container > .top > .ham-btn > .menu-trigger > span:nth-of-type(1) { top: 0; } 
.top-container > .top > .ham-btn > .menu-trigger > span:nth-of-type(2) { top: 6px; } 
.top-container > .top > .ham-btn > .menu-trigger > span:nth-of-type(3) { bottom: 0; } 

/* 로고 */
.top-container > .top > .logo { display: block; } 
.top-container > .top > .logo > h1 { color: #fff; font-size: 20px; line-height: 20px; }

/* 프로필 */
.profile { margin: 25px 0 30px 0; } 
.profile > a { display: block; width: 140px; margin: 0 auto; border-radius: 280px; overflow: hidden; }
.profile > a > img { display: block; width: 100%; } 

/* 헤더 gnb */
.top-container > .top > .hd_qnb { display: flex; position: absolute; right: 16.5px; justify-content: flex-end; } 
.top-container > .top > .hd_qnb > a { display: block; } 
.top-container > .top > .hd_qnb > a > img { display:block; width: 18px; height:20px; } 
.top-container > .top > .hd_qnb > .notify { position: relative; margin-left:17px; } 
.top-container > .top > .hd_qnb > .notify > .counter { position: absolute; top:-5px; right:-7px; width:17.5px; height:14px; line-height:13px; text-align:center; color:#fff; font-size:1.13em; background-color: #e76b3f; border-radius:5px; } 

/* 햄버거 버튼 이벤트 */
.top-container > .top > .ham-btn > .menu-trigger.active-1 span:nth-of-type(1) { transform: translateY(6px) rotate(-45deg); } 
.top-container > .top > .ham-btn > .menu-trigger.active-1 span:nth-of-type(2) { opacity: 0; } 
.top-container > .top > .ham-btn > .menu-trigger.active-1 span:nth-of-type(3) { transform: translateY(-6px) rotate(45deg); } 
 
/* 햄버거 메뉴 디자인 */
.ham-con { width: 80%; height: 100%; background-color: #43474f; position: fixed; top: 50px; left: -80%; color: #fff; z-index: 99; opacity: 0; } 
.ham-con > .ham-login { height: 80px; } 
.ham-con > .ham-login > a { font-size: 14px; line-height: 60px; color: #fff; background-color: #43474f; margin-left: 20px; text-decoration: none; } 
.ham-con > .ham-login > a > i { margin-left: 5px; } 
.ham-con > #ham-menu-wrap > .ham-menu > ul { width: 100%; margin: 0; padding: 0; } 
.ham-con > #ham-menu-wrap > .ham-menu > .ham-top-menu > li { position: relative; width: 100%; list-style-type: none; font-size: 18px; font-weight: 500; } 
.ham-con > #ham-menu-wrap > .ham-menu > .ham-top-menu > li > a { display: block; width: 100%; height: 100%; line-height: 50px; text-indent: 20px; color: #fff; background-color: #43474f; } 
.ham-con > #ham-menu-wrap > .ham-menu > .ham-top-menu > li > a:hover { color: #43474f; background: #fff; } 

/* section - contens */
section.contents-container { padding:50px 20px 35px; } 
section.contents-container .title { font-family: 굴림; color: #333; font-size: 18px; font-weight: 600; margin:25px 0 16px; } 
section.contents-container h3 { color: #666; font-size: 14px; font-weight: 500; } 

/* contents01 - cahrt */
section.contents-container > .contents01 > .chart {width: auto; height: 205px; padding: 15px; box-sizing: border-box; background-color: #fff; border : 1px solid #ddd; } 

/* contents02 - calendar */
section.contents-container > .contents02 > iframe { width: 100%; height: 285px;} 

/* contents03 */
/* tabs */
.tab-container { width: 100%; margin: 0 auto; } 
.tab-container > .tabs { display: flex; height:35px; margin: 0px; padding: 0px; list-style: none; } 
.tab-container > .tabs > li { width:calc(100% / 3); height:100%; color: #333; font-size: 14px; line-height: 33px; font-weight: 500; text-align: center; background: #fff; border: 1px solid #ddd; box-sizing: border-box; cursor: pointer; } 
.tab-container > .tabs >:nth-child(2) { border-right: 0; border-left: 0; } 
.tab-container > .tabs > li.current { color: #fff; background: #e76b3f; }
/* tabcontents */
.tab-content { display: none; }
.tab-content.current { display: inherit; margin-top: 15px; } 
.tab-inquiry-box {background: #fff; padding: 15px; box-sizing: border-box; border: 1px solid #ddd; } 
.tab-inquiry-box.sub01,
.tab-answer-box.sub01 { position: relative; width:100%; height: 62px; }
.sub01 { border:1px solid #ddd; border-top: 0; } 
.sub01:first-child { border-top:1px solid #ddd; } 
.inquiry-box .inquiry-top { display: flex; } 
.inquiry-box .inquiry-top .propile { width: 31px; margin-right: 10px; } 
.inquiry-box .inquiry-top .propile img { display: block; width: 100%; } 
.inquiry-box .inquiry-title > div > span { color: #999; font-size: 12px; font-weight: 400; } 
.inquiry-box .inquiry-title > .inquirytext-box > span:first-child { margin-right: 12.5px; } 
.inquiry-box .inquiry-title > .inquirytext-box > span:last-child { margin-left: 5px;; } 
.inquiry-detail {margin-top: 15px; } 
.inquiry-detail > span { color: #666; font-size: 13px; font-weight: 500; } 
.inquiry-detail > .img-box { display: block; height: 120px; margin: 15px 0; } 
.inquiry-detail > .img-box > img { display: block; width: 100%; height: 100%; } 
.inquiry-detail > .button-box.flex > .btn2 { margin-right: 5px; } 
.enter-inquiry { position: relative; width: 100%; height: 133px; padding: 15px; background-color: #f3f3f3; box-sizing: border-box; border: 1px solid #ddd; border-top: 0; } 
.enter-inquiry > textarea { width: 100%; height: 56px; color: #666; font-size: 12px; font-weight: 600; box-sizing: border-box; padding: 7.5px; overflow-y: scroll; border: 1px solid #ddd; } 
.enter-inquiry > textarea:focus-visible { outline: none; } 
.enter-inquiry > .enter-trigger { width: 100%; height: 35px; margin-top: 10px; } 
.tab-answer-box { height:148px; background-color: #f3f3f3; padding: 15px; box-sizing: border-box; border: 1px solid #ddd; border-top: 0; } 
.tab-answer-box.mt3 { border: 1px solid #ddd; } 
.tab-answer-box > .answer-box > .answer-top { display: flex; } 
.tab-answer-box > .answer-box > .answer-top > .propile { width: 31px; margin-right: 10px; } 
.tab-answer-box > .answer-box > .answer-top > .propile img { display: block; width: 100%; } 
.answer-box .answer-title > div { margin-top: 8px; } 
.answer-box .answer-title > div > span { color: #999; font-size: 12px; font-weight: 400; } 
.answer-box .answer-title > div > span:first-child { margin-right: 12.5px; } 
.answer-box .answer-title > div > span:last-child { margin-left: 5px; } 
.answer-detail { height: 71px; margin-top: 15px; } 
.answer-detail > span { color: #666; font-size: 13px; font-weight: 500; } 
.inquiry-all-trigger { width:100%; height:35px; margin-top:15px; } 

/* contents04~07 */
.contents > .flex > a { color:#999; font-size: 14px; margin: 25px 0 16px; } 
.contents > .flex > a > span { font-size: 10px; } 
table { position: relative; width: 100%; border-collapse: collapse; box-sizing: border-box; } 
th { height: 35px; color: #fff; font-size: 15px; font-weight: 500; background-color: #999; } 
td { background-color: #fafafa; } 
th, td { height: 40px; text-align: center; border: 1px solid #ddd; } 
table > caption { position: absolute; width:0px; height: 0px; overflow: hidden; } 
thead.thead-hidden { position: absolute; width:0; height: 0; overflow: hidden; } 
thead.thead-hidden ~ tbody th { width: 30%; background-color: #e76b3f; } 
thead.thead-hidden ~ tbody td { padding: 5px; background-color: #fff; } 
thead.thead-hidden ~ tbody td:not(:last-child) { border-top: 1px solid #ddd; } 
tbody td > form.flex { flex-wrap: wrap; } 
tbody td > form.flex > div.w50 { width: 50%; } 
tbody tr > td > form.flex > div { margin-top: 3px; } 
tbody tr:nth-child(5) > td > form.flex > div { margin-right: 17px; } 

/* contents04 */
.contents04 > .table01 > tbody > tr > th:first-child { width: 66%; } 
.contents04 > .table01 > tbody > tr > td { height: 70px; } 
.contents04 > .table01 > tbody > tr > td:first-child { padding-left:16px; } 
.contents04 > .table01 > tbody > tr > td:last-child { text-align: center; } 
.contents04 > .table01 > tbody > tr > td > div { display: flex; justify-content: flex-start; } 
.contents04 > .table01 > tbody > tr > td > div >.thumbnail { display: block; width:50px; margin-right: 8px; } 
.contents04 > .table01 > tbody > tr > td > div >.thumbnail > img { display: block; width: 100%; } 
.contents04 > .table01 > tbody > tr > td a { text-align: left; } 
.contents04 > .table01 > tbody > tr > td span { color: #666; font-size: 12px; font-weight: 500; } 
.contents04 > .table01 > tbody > tr > td > a > img { display: block; width: 100%; } 

/* contents05 */
.new { position: absolute; top: 50%; margin-top: -5px; width:10px; } 
.new > img { display: block; width: 100%; } 
.contents05 > .table01 > tbody > tr > th:first-child,
.contents05 > .table01 > tbody > tr > th:last-child { width:30%; } 
.contents05 > .table01 > tbody > tr > th:nth-child(2)
.contents05 > .table01 > tbody > tr > th:nth-child(3) { width:20%; } 
.contents05 > .table01 > tbody > tr > td { height: 30px; text-align: center; } 
.contents05 > .table01 > tbody > tr:nth-child(8) > td,
.contents05 > .table01 > tbody > tr:nth-child(9) > td { background-color: #f3f3f3; } 

/* contents06 */
.notice-box { width: 100%; height: 122px; padding: 15px; border: 1px solid #ddd; } 
.notice_letter { display: block; width: 100%; } 
.notice_letter > li { position: relative; font-size: 12px; line-height: 18px; } 
.notice_letter > li > a { color: #666; } 
.notice_letter > li > span { color: #999; } 
.notice_letter > li:nth-child(1) > .new { left: 105px; } 
.notice_letter > li:nth-child(2) > .new { left: 125px; } 

/* contents07 */
.management-box { height: 123.5px; border: 1px solid #ddd; } 
.management-box > div { width:100%; height: calc(123.5px / 2); padding: 15px; box-sizing: border-box; } 
.management-box > div:first-child { border-bottom: 1px solid #ddd; } 
.management-box > div > .text-box { width:110px; height: 32px; } 
.management-box > div > .text-box > span { display: inline; font-size: 12px; line-height: 16px; } 

/* paging */
.paging { width: 100%; display: flex; justify-content: space-between; align-items: center; font-size: 12px; margin-top: 20px; } 
.paging > .caret-box { display: flex; } 
.paging > .caret-box > .caret { display: block; position: relative; width: 27px; height: 27px; border: 1px solid #ddd; } 
.paging > .caret-box > .caret:hover { border:1px solid #e76b3f; } 
.paging > .caret-box > .caret > img { display: block; position: absolute; top: 50%; left: 50%; margin-top: -3.5px; margin-left: -3.5px; width: auto; height: 7px; } 
.paging > .caret-box > .prev_page > img,
.paging > .caret-box > .last_page > img { margin-left: -2.5px; } 
.paging > div.pages { display: flex; justify-content: space-between; align-items: center; width: 167px; margin: 0 16px; } 
.paging > div.pages > span { display: block; width: 27px; height: 27px; text-align: center; line-height: 27px; cursor: pointer; }
.paging > div.pages > span.active { display: block; color: #fff; background-color: #e76b3f; } 

/* footer */
footer { padding:0 20px 0; border-top:1px solid #ddd; } 
footer > .flex { height: 43px; } 
footer > .flex > address { color: #999; font-size: 12px; line-height: 43px; } 
#back-to-top {display:none; position: fixed; bottom: 7px; right: 4.5px; width: 31px; height: 31px; color: #fff; font-size: 10px; text-align: center; background: #43474f; background-image: url(./../images/top-arrow.png); background-position: center 9px; background-repeat: no-repeat; background-size: 6px 3.5px; padding:5px; border-radius: 2.5px; border-width: 0; cursor: pointer; z-index: 99; } 
#back-to-top > span { position: absolute; top: 50%; left: 6px; margin-top: -2px; } 

/* 고객문의 - sub01 */
.check-group { position: absolute; top: 50%; right: 15px; margin-top: -12px; } 

/* 주문관리 - sub03 */
.date .flex { border-top: 0; border-bottom: 0; } 
.date div { width: 110px; } 
.date span { line-height: 28px; } 
.remember-check { margin: 15px 0 30px 0; } 
.table02 { border-collapse: collapse; } 
.table02 th, .table02 td { height: 40px; vertical-align: middle; } 
.table02 tbody > tr > th { border: 1px solid #f1a68c; border-right: 0; border-left: 0; } 
.table02 tbody > tr > td { border-left: 0; } 
.table02 tbody > tr:first-child > th { border-top: 1px solid #e76b3f; } 
.table02 tbody > tr:last-child > th { border-bottom: 1px solid #e76b3f; } 
.table02 td { text-align: left; } 
select,input { width: 100%; height: 30px; font-size: 14px; padding: 3px; border: 1px solid #ddd; } 
input::-webkit-date-and-time-value { text-align: left; padding: 3px; } 
select { color: #333; appearance:none; background:url('./../images/select-arrow.png') no-repeat right 13.5px center; } 
input[type="date"] { position: relative; width: 100%; color: #333; text-align: left; padding: 4px 2px; background-image: url(./../images/Icon_calendar.png); background-repeat: no-repeat; background-size: 17px 20px; background-position: right 3px center; background-color: #fff; } 
input[type='date']::-webkit-calendar-picker-indicator { height: 100%; background: transparent; color: transparent; cursor: pointer; margin-left: 5px; } 
input[type='date']::before { content: attr(placeholder); width: 100%; height: 100%; } 
input[type='date']:valid::before { display: none; } 
input[type="checkbox"] { width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border-radius: 0; background: #f2f2f2; position: absolute; } 
input[type="checkbox"] + label { font-size: 14px; vertical-align: 3px; display: inline-block; position: relative; padding-left: 26px; cursor: pointer; } 
input[type="checkbox"]:checked + label:after { content: ""; position: absolute; top: 0; left: 0; width: 17px; height: 17px; background: url(./../images/btn_check_on.png) no-repeat; background-position: center center; background-size: 13px 10px; border: 1px solid #999; } 
input[type="checkbox"] + label:before { content: ""; position: absolute; top: 0; left: 0; width: 17px; height: 17px; background: url(./../images/btn_check_off.png) no-repeat; background-position: center center; background-size: 13px 10px; border: 1px solid #999; } 
input[type="checkbox"] + label span { font-weight: 400; font-size: 13px; line-height: 26px; letter-spacing: -1px; color: rgba(0, 0, 0, 0.5); } 

/* 로그인 - sub04 */
.login { height: 35px; padding-left: 45px; } 
.username { background-image: url(./../images/Icon_id.png); background-size: 11.5px 16px; background-repeat: no-repeat; background-position: 15px center; } 
.password { background-image: url(./../images/icon_passwrod.png); background-size: 11.5px 16px; background-repeat: no-repeat; background-position: 15px center; } 
.links { color: #666; font-size: 14px; text-align: center; margin-top: 25px; } 
.links > a { color: #666; } 
